body{

}

h4, .button-collapse{
    display: inline-block;
    line-height: 64px;
    margin: 0;
}

#sidenav-overlay, .drag-target{
    display: none;
}

.side-nav-header{
    margin:auto;
}

.nav-color{
    background-color: #124277;
}

.pointer{
    cursor: pointer;
}

.school-logo{
    display: block;
    margin:auto;
    width: 100px;
    height:auto;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.login, .addMessage-popup {
    text-align: center;
    border: solid #4db6ac 3px;
    width: 500px;
    border-radius: 20px;
    padding: 30px;
}

.addMessage-popup{
    width: 800px;
    background-color: white;
    z-index: 10;
}

.message-exit{
    cursor: pointer;
}

#captcha-placeholder{
    width: 90%;
    height:auto;
}

.row .reports-btns, .row .student-btn, .row .subject-btn{
    margin-top: 1rem;
    padding-right: 0;
}

.row .fiches-progress{
    text-align: center;
    padding-left: 0;
}

.row .student-search, .row .subject-search{
    padding-left: 0;
}

.richting-checkbox{
    margin-left: 30px;
}

.hidden{
    display: none;
}